<a
  href="/pro"
  class="text-center absolute bottom-0 text-zinc-400 p-4 font-medium text-sm md:text-base hover:text-zinc-300 hover:underline"
>
  Done with Ads? Buy Autoblox Pro For A Ads-Free Experience! [Click Here]
</a>